<div class="dashboard-container">
  <div class="dashboard-header">
    <h1>Report Page</h1>
  </div>

  <div class="left-container">
    <h2 class="h4 mb-4 text-info">New Report</h2>
    <form [formGroup]="logForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label class="form-label">Construction Assigned</label>
        <select
          class="form-select bg-dark text-white border-secondary"
          formControlName="constructionsSites_id"
        >
          <option value="" disabled>Selecciona una obra...</option>
          @for (asig of myAssignments(); track asig.id_assignments) {
            <option [value]="asig.constructionsSites_id">
              Construction: {{ asig.constructionName }}
            </option>
          }
        </select>
      </div>

      <div class="mb-3">
        <label class="form-label">Tipo de Log</label>
        <select class="form-select bg-dark text-white border-secondary" formControlName="type">
          <option value="UPDATE">Update (Progress)</option>
          <option value="ALERT">Alert (Urgent)</option>
          <option value="INFO">Info (Informative)</option>
        </select>
      </div>

      <div class="mb-4">
        <label class="form-label">Description</label>
        <textarea
          class="form-control bg-dark text-white border-secondary"
          formControlName="description"
          rows="5"
        ></textarea>
      </div>

      <button type="submit" class="btn btn-info w-100 fw-bold" [disabled]="logForm.invalid">
        PUBLISH LOG
      </button>
    </form>
  </div>

  <div class="site-container">
    <div class="site-head">
      <h2>My Reports</h2>
    </div>
    <div class="scroll-area inside-container" style="max-height: 70vh; overflow-y: auto">
      @for (log of arrayLogs(); track log.id_logs) {
        <app-log-card [log]="log"></app-log-card>
      } @empty {
        <div class="alert alert-secondary">No logs yet.</div>
      }
    </div>
  </div>
</div>
