/* Workers */

.worker-item {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 15px;
}

.worker-avatar {
  width: 36px;
  height: 36px;
  background: #334155;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.worker-info {
  flex: 1;
}

.worker-name {
  font-weight: 600;
}

.worker-role {
  font-size: 12px;
  color: #94a3b8;
}

.worker-status {
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 8px;
}

.worker-status.available {
  background: #064e3b;
  color: #10b981;
}

.worker-status.unavailable {
  background: #7f1d1d;
  color: #f87171;
}

.container {
  max-width: 420px;
  /* Lo hace más estrecho */
  background-color: #1a2632;
  /* Fondo pedido */
  color: white;
  /* Color de fuente general */
  margin-top: 10px;
  padding: 0.8rem;
  border-radius: 20px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
}
