.avatar-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #334155;
  color: #e2e8f0;
  font-size: 2.5rem;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 3px solid #0f172a;
}
