/* GENERAL */
/* El contenedor principal usa el color del login */
.dashboard-container {
  padding: 25px;
  border-radius: 16px;
  /* Ajusta según necesites */
  margin: 30px auto;
  background-color: #0f172a;
  color: #e2e8f0;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  display: grid;
  grid-template-areas:
    'header header'
    'left content'
    'footer footer';
}

/* barra lateral izquierda */

.left-container {
  padding: 25px;
  border-radius: 16px;
  /* Ajusta según necesites */
  background-color: #0f172a;
  max-width: 400px;
  color: #e2e8f0;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  grid-area: left;
  left: 0;
}

.dashboard-header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

h2 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
}

/* Estilo para el botón activo (El azul "All Roles") */
.btn-filter.active {
  background-color: var(--accent-blue);
  color: white;
  border: 1px solid var(--accent-blue);
}

.site-container {
  display: flex;
}
