<div
  class="log-card-wrapper mb-3"
  [ngClass]="{ 'is-alert': log.type === 'Alert' || log.type === 'Alerta' }"
>
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-start mb-2">
      <div>
        <h5 class="log-type">{{ log.type }}</h5>
        <h6 class="log-date">
          {{ log.date_register | date: 'dd/MM/yyyy HH:mm' }}
        </h6>
      </div>
      <span class="site-badge">Site ID: {{ log.constructionsSites_id }}</span>
    </div>

    <p class="log-description">{{ log.description }}</p>

    <!-- <div class="d-flex justify-content-end mt-3">
      <button class="btn-edit" (click)="onEdit()">
        <i class="bi bi-pencil-square"></i> Edit Report
      </button>
    </div> -->
  </div>
</div>
