<nav class="nav">
  @if (isAdmin()) {
    <a
      class="nav-item"
      routerLink="/dashboard"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Overview</a
    >
    <a
      class="nav-item"
      routerLink="/dashboard_admin/constructions"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Projects</a
    >
    <a
      class="nav-item"
      routerLink="/dashboard_admin/workers"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Workers</a
    >
    <a
      class="nav-item"
      routerLink="/dashboard_admin/assignments"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Assignments</a
    >
    <a
      class="nav-item"
      routerLink="/dashboard_admin/logs"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Reports</a
    >
  }

  @if (isUser()) {
    <a
      class="nav-item"
      routerLink="/dashboard"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Overview</a
    >
    <a
      class="nav-item"
      routerLink="/dashboard-user/assignments"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Assignments</a
    >
    <a
      class="nav-item"
      routerLink="/dashboard_user/logs"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Reports</a
    >
  }
</nav>
